$font-stack:    Helvetica, sans-serif;
$body-color: #ebf8e6;
$border-color: #D55449;
$primary-color: #D55449;

%pad-l-0 {
	padding-left: 0px !important; 
}

%pad-r-0 {
	padding-right: 0px !important; 
}

%mgr-l-0 {
	margin-left: 0px !important; 
}

%mgr-r-0 {
	margin-right: 0px !important; 
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-o-box-shadow: $value;
	-ms-box-shadow: $value;
}

@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	-ms-transition: $value;
}

@mixin text-input-search() {
	@include border-radius(3px);
	border: 3px solid $border-color;
    height: 45px;
    width: 354px;
    padding: 0 15px;
}

@mixin border-radius($pixel) {
	border-radius: $pixel;
	-moz-border-radius: $pixel;
	-webkit-border-radius: $pixel;
	-o-border-radius: $pixel;
	-ms-border-radius: $pixel;
}

@mixin form-submit-btn() {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: $border-color;
    border: 0;
    color: #fff;
    height: 45px;
    border-radius: 3px;
    padding: 0 13px;
    text-transform: uppercase;
}

@mixin form-submit-btn-search() {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: $border-color;
    border: 0;
    color: #fff;
    height: 40px;
    padding: 0 13px;
    text-transform: uppercase;
}

%a {
    text-decoration: none;
}

a {
    @extend %a;
    &:hover {
        @extend %a;
    }
}

@import 'imports/_common.scss';
@import 'imports/all.scss';
@import 'imports/homepage.scss';
@import 'imports/_footer.scss';
@import 'imports/detail_post.scss';
@import 'imports/_search.scss';