html,
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 100%;
}

img {
    max-width: 100%;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.form-group {
    position: relative;
}

.form-group .fa {
    position: absolute;
    color: #cf1524;
    right: 10px;
    top: 6px;
}

.alert-success {
    background: none;
    border-color: #999999;
    color: #000000;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 166px 15px;
}

.img-opacity {
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.img-opacity:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)";
    filter: alpha(opacity=0.8);
    opacity: 0.8;
    filter: alpha(opacity=80);
}

a {
    color: #d55449;
}

a:hover {
    color: #15728a;
}

body.canhcam {
    background: #f8f8f8;
}
