#footerSection {
	.footer-menu {
		.text-footer {
			i {
				width: 25px;
				font-size: 20px;
			}
			.footer-col-1 {
				.social-footer {
					li {
						float: left;
					}
					i {
						font-size: 32px !important;
					    width: 20% !important;
					    margin-right: 15px;
					    margin-top: 12px;
					}
				}
			}
			.logo-footer-1 {
				border-bottom: 1px solid #D55449;
				padding-bottom: 25px;
			}
		}
		.widget {
			h2 {
				margin-top: 10px;
			    font-size: 18px;
			    text-transform: uppercase;
			    font-weight: 500;
			}
		}
	}
}