.msc-form {
	position: relative;
	margin-top: 15px;
	margin-right: 25px;
	float: left;

	input[type="text"] {
		@include text-input-search;
	}

	#searchsubmit {
		@include form-submit-btn-search;

		@include transition(all 0.3s);

	    &:hover {
	    	background-color: $border-color;

	    	@include transition(all 0.3s);
	    }
	    .fa-search {
	    	font-size: 23px;
	    }
	}
}

.mc4wp-form {
	display: inline-block;
	position: relative;

	input[type="email"] {
		@include text-input-search;
		color: #333;
	}

	input[type="submit"] {
		@include form-submit-btn-search;

		@include transition(all 0.3s);				   

	    &:hover {
	    	background-color: #10ae4b;

	    	@include transition(all 0.3s);
	    }
	}
}