header {
    padding-top: 8px;
    .main-nav {
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            > li {
                list-style: none;
                display: inline-block;
                > a {
                    color: #ffffff;
                    padding: 15px;
                    display: block;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                        background: none;
                    }
                }
                &:hover > a,
                &.active > a {
                    background: #e2675d;
                }
            }
        }
    }
}

.header-right {
    padding-top: 5px;
}

.hotline table tr td {
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    padding: 0 5px;
    a {
        color: #d55449;
        cursor: text;
        &:hover {
            text-decoration: none;
            color: #d55449;
        }
    }
}

.language,
.hotline,
.dang-ky {
    float: left;
}

.language {
    padding-top: 12px;
    margin-left: 20px;
    > a {
        color: #666666;
        font-size: 13px;
        border-left: 1px solid #333333;
        padding-left: 5px;
        margin-left: 5px;
        float: right;
        -moz-transition: all 0.3;
        -ms-transition: all 0.3;
        -webkit-transition: all 0.3;
        -o-transition: all 0.3;
        transition: all 0.3;
        &:last-child {
            border: none;
        }
        &:hover,
        &.active {
            color: #d55449;
            text-decoration: none;
        }
    }
}

.slidehome {
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
}

.dang-ky .ModuleContent a {
    display: block;
    background: #15728a;
    color: #ffffff;
    padding: 7px 15px;
    margin: 7px 0 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
        background: #d55449;
        text-decoration: none;
    }
}

main {
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* 
  css menu
*/

.header-logo {
    margin-bottom: 10px;
}

#wrapper .menu-home {
    background: #d55449;
    margin-bottom: 0px;
}

.menu-home .collapse ul li a {
    color: #fff;
    &:hover {
        color: #fff !important;
        background-color: #e2675d !important;
    }
}

header .main-nav ul > li > a {
    color: #ffffff;
    padding: 15px;
    display: block;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff !important;
    background-color: #e2675d !important;
    &:focus,
    &:hover {
        color: #fff !important;
        background-color: #e2675d !important;
    }
}


/* 
  css đơn hàng nổi bật
 */

#wrapper {
    .title-home {
        font-size: 16px;
        color: #15728a;
        text-transform: uppercase;
        border-bottom: 1px solid #b3b3b3;
        padding-bottom: 7px;
        margin: 0 0 30px;
        font-weight: bold;
    }
    .item-highlight {
        background: #d55449;
        padding: 20px 10px;
        color: #f0bab6;
        strong {
            color: #ffffff;
        }
    }
    .text-donhang {
        height: 25px;
        border-bottom: 1px solid #fff;
    }
    .item-highlight h3 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        a {
            color: #fff;
            &:hover {
                color: black;
            }
        }
    }
    .anh-donhang {
        margin-left: 6px;
    }
    .module-title {
        font-size: 16px;
        color: #15728a;
        text-transform: uppercase;
        border-bottom: 1px solid #b3b3b3;
        padding-bottom: 15px;
        margin: 0 0 29px;
        font-weight: 700;
        margin-top: 30px;
    }
    .job-list table tr {
        th {
            background: #15728a;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 15px;
            border-left: 1px solid #ffffff;
            white-space: nowrap;
            vertical-align: middle;
        }
        td {
            color: #666666;
            background: #fafafa;
            padding: 10px 15px;
            border-top: none;
            border-left: 1px solid #ffffff;
        }
    }
    .tim-hieu {
        background: #d55449;
        color: #ffffff;
        padding: 20px;
        a {
            background: #f4d3d0;
            display: block;
            padding: 10px 20px;
            text-transform: uppercase;
            color: #15728a;
            font-size: 18px;
            margin-top: 6px;
            white-space: nowrap;
            text-align: center;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
    .title-dichvu {
        margin-top: 31px;
    }
    .mrb30 {
        margin-bottom: 60px;
        margin-top: -5px;
    }
    .read-more {
        color: #d55449;
        display: block;
        margin-top: 20px;
    }
    .news-home {
        max-width: 1600px;
        /*background: url(../blank-team/images/tintuc-home-bg.png) no-repeat bottom center #17738b;*/
        padding: 35px 0 0;
        min-height: 487px;
        margin: 0 auto;
        h4 {
            color: #ffffff;
            font-size: 16px;
            text-transform: uppercase;
            margin: 0 0 35px;
        }
    }
    .mrb30 {
        margin-bottom: 30px;
    }
    .newhome {
        background: #ffffff;
        color: #666666;
        line-height: 1.3em;
    }
    .newshome-desc {
        padding: 15px;
        min-height: 160px;
        h5 {
            a {
                color: #333333;
            }
            font-size: 14px;
            font-weight: 700;
            margin: 0;
        }
        time {
            display: block;
            margin: 10px 0;
        }
    }
}

footer {
    padding: 30px 0 20px;
    color: #333333;
    line-height: 1.3em;
    border-top: 3px solid #d55449;
}

#wrapper .mrb15 {
    margin-bottom: 15px;
}

footer h5 {
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    margin: 0 0 30px;
    font-size: 14px;
}

.footer-menu ul li a {
    color: black;
    line-height: 26px;
}

.section-footer {
    .contact {
        box-sizing: border-box;
        font-weight: bold;
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        letter-spacing: normal;
        line-height: 20px;
        orphans: 2;
        text-align: left;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
    }
    .hoso span,
    .vanphong-hcm span {
        color: #333333;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 20px;
        orphans: 2;
        text-align: left;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        float: none;
        display: inline !important;
        background-color: #ffffff;
    }
}


/* 
  css about
 */

.about {
    .breadcrumb {
        margin-bottom: 0;
        background: none;
        line-height: 55px;
        top: 1px;
        text-align: right;
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        border-radius: 0;
        li a {
            color: #666666;
            font-size: 13px;
            &.active {
                color: #d55449;
                text-decoration: none;
            }
        }
    }
    .title-page {
        margin: 0 0 35px;
        font-size: 24px;
        color: #333333;
        font-weight: 700;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
    }
    .about-us h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 20px;
        color: #15728a;
    }
}

.about-us h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #15728a;
}

.about {
    .mrb20 {
        margin-bottom: 20px;
    }
    .about-us .bd {
        border-left: 1px solid #b3b3b3;
    }
    .mrb40 {
        margin-bottom: 40px;
    }
}

.col-right h4 {
    font-size: 17px;
    font-weight: 400;
    color: #15728a;
    margin: 0 0 5px;
    border-top: 1px solid #15728a;
    padding: 15px 20px;
    background: #f7f7f7;
    text-transform: uppercase;
}

.about .right-menu ul li {
    padding: 10px 5px;
    color: #333333;
    border-bottom: 1px dotted #333333;
    a {
        color: black;
    }
}


/* 
  tin tức sự kiện
 */

.tintuc_sukien {
    .post-tintuc {
        font-size: 14px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        letter-spacing: normal;
        orphans: 2;
        text-align: justify;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        background-color: #ffffff;
        float: none;
        display: inline !important;
        font-family: Arial;
        color: #333333;
    }
    .news-item {
        h2 {
            font-size: 14px;
            margin: 18px 0 10px;
            line-height: 1.3em;
            font-weight: 700;
            color: black;
            a {
                color: #333333;
                text-decoration: none;
                &:hover {
                    color: #D55449;
                }
            }
        }
        time {
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    .pages {
        text-align: right;
        .pagination li.active span {
            background: #d55449;
            color: #ffffff;
            border: none;
        }
    }
}

.pages .pagination > li.active .SelectedPage {
    background: #d55449;
    color: #ffffff;
    border: none;
}

.tintuc_sukien {
    .pages .pagination li a {
        background: #f2f2f2;
        width: 32px;
        height: 32px;
        line-height: 21px;
        color: #333333;
        border: none;
        margin: 0 3px;
        border-radius: 2px;
    }
    #menu-tin-tuc-su-kien-menu {
        list-style: none;
        padding-left: 0px;
    }
}


/* 
  Liên Hệ
 */

.contact {
    .title-page {
        margin: 0 0 35px;
        font-size: 24px;
        color: #333333;
        font-weight: 700;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
    }
    .contact-wrap h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 20px;
        line-height: 1.3em;
        color: #333333;
    }
    .breadcrumb li a {
        color: #666666;
        font-size: 13px;
        &.active {
            color: #d55449;
            text-decoration: none;
        }
    }
    .Module-141 {
        text-align: right;
        margin-right: 5px;
    }
}

.tintuc_sukien {
    .breadcrumb li a {
        color: #666666;
        font-size: 13px;
        &.active {
            color: #d55449;
            text-decoration: none;
        }
    }
    .Module-141 {
        text-align: right;
        margin-right: 5px;
    }
}


/* 
chuongtrinh-dichvu
 */

.chuongtrinh-dichvu {
    h4 {
        font-size: 17px;
        font-weight: 400;
        color: #15728a;
        margin: 0 0 5px;
        border-top: 1px solid #15728a;
        padding: 15px 20px;
        background: #f7f7f7;
        text-transform: uppercase;
    }
    .right-menu ul li a {
        padding: 10px 5px;
        color: #333333;
        border-bottom: 1px dotted #333333;
    }
}


/* 
thong-tin-viec-lam
 */

.thong-tin-viec-lam .breadcrumb {
    margin-bottom: 0;
    background: none;
    line-height: 55px;
    top: 1px;
    text-align: right;
    li a {
        color: #666666;
        font-size: 13px;
        &.active {
            color: #d55449;
            text-decoration: none;
        }
    }
}

.sidebar-daotao {
    h4 {
        font-size: 17px;
        font-weight: 400;
        color: #15728a;
        margin: 0 0 5px;
        border-top: 1px solid #15728a;
        padding: 15px 20px;
        background: #f7f7f7;
        text-transform: uppercase;
    }
    .right-menu ul li a {
        padding: 10px 5px;
        color: #333333;
        border-bottom: 1px dotted #333333;
    }
}


/*
  css phân trang
*/

ul.page-numbers {
    margin: 0px 0px 20px 0px;
    li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        list-style: none;
        position: relative;
        z-index: 1;
        background-color: #FC624E;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        a {
            border: 1px solid #FC624E;
        }
        &:hover,
        span.current {
            background-color: #555;
            color: #fff;
            box-shadow: 0 0 5px #999;
            -moz-box-shadow: 0 0 5px #999;
            -webkit-box-shadow: 0 0 5px #999;
            position: relative;
            z-index: 1;
        }
        &:hover a,
        span.current {
            border: 1px solid #fff;
        }
        a,
        span {
            padding: 5px 12px;
            display: inline-block;
            color: #fff;
            font-family: 'Tahoma';
            font-size: 15px;
        }
    }
}


/*
vì sao chọn chúng tôi
*/

.visao-chontoi .breadcrumb {
    margin-bottom: 0;
    background: none;
    line-height: 55px;
    top: 1px;
    text-align: right;
    li a {
        color: #666666;
        font-size: 13px;
        &.active {
            color: #d55449;
            text-decoration: none;
        }
    }
}


/* 
   thu vien anh
 */

.content-thuvienanh {
    .title-page {
        margin: 0 0 35px;
        font-size: 24px;
        color: #333333;
        font-weight: 700;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        position: relative;
    }
    .mrb30 {
        margin-bottom: 30px;
    }
    .album-item {
        border: 1px solid #cccccc;
        h2 {
            padding: 25px 15px;
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #000000;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
        img {
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
        }
        .count span a,
        .count-anh .a-thuvienanh {
            display: block;
            padding: 15px;
            color: #b3b3b3;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
}

a:hover {
    text-decoration: none !important;
}
