#single-post {
    .section-content {
	    .post-container {
	        h2 {
	            margin-top: 0px;
	        }
	        .entry {
	            text-align: justify;
	        }
	    }
	    h1 {
	    	font-size: 25px;
	    }
	    h2 {
	    	font-size: 22px;
	    }
	    h3 {
	    	font-size: 20px;
	    }
	    h4 {
	    	font-size: 18px;
	    }
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
