#homepage .news-home {
    margin-bottom: 20px;
    margin-top: 30px;
    .newhome .newshome-desc {
        .text-newshome {
            height: 90px;
            overflow: hidden;
        }
        .newshome-title {
            height: 40px;
            overflow: hidden;
            a {
                color: #15728A;
                text-decoration: none;
                line-height: 18px;
                &:hover {
                    color: #81D0FA;
                }
            }
        }
    }
}
